*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: green;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.container{
    width: 1280px;
    margin: auto;
}
.navbar{
    width: 95%;
    margin: auto;
    min-height: 70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.index, .blog, .contact, .service{
    height: 720px;
}

table {
    width: 600px;
}

th {
    text-align: left;
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}

th, td {
    padding: 25px;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:nth-child(odd) {
    background-color: forestgreen;
}

.blog{
    width: 100%;
    height: 100vh;
    background: darkseagreen;
    -webkit-background-size: cover;
    background-size: cover;
}

.blog .content{
   width:80%;
   margin:auto;
}

.blog .head {
    width:60%;
    text-align: center;
    margin:auto;
}

.blog .head h1{
    padding-top: 30px;
    font-size: 45px;
    color: #e19c76;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.content .column{
    flex: 1;
    margin:50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    background-color: aliceblue;
}

.content .column img{
    width:100%;
    height: auto;
}

.content .column h4{
    margin-top: 10px;
    margin-left: 90px;
    font-size: 18px;
}

.content .column p{
    font-size: 15px;
    color: #6e6e6e;
    line-height: 1.5;
    padding:10px;
}

.banner-area{
    width: 100%;
    height: 100vh;
    background: darkseagreen;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2vw;
    color: #fff;
}

.banner-area h2{
    font-family: germania one;
    font-size: 65px;
    margin: 0 0 25px;
    animation: animate 2s 1;
}

.btn{
    text-decoration: none;
    padding: 10px 45px;
    color: #fff;
    border: 2px solid #fff;
    transition: .6s;
    animation: animate 2s 1;
}

.btn:hover{
    background-color: #fff;
    color: #262626;
}

.contact-section {
    background: #6e6e6e;
    background-size: cover;
    padding: 40px 0;
}

.contact-section h1{
    text-align: center;
    color: #ddd;
}

.border{
    width: 100%;
    height: 10px;
    background: #6e6e6e;
    margin: 40px auto;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:hover{
    box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text{
    resize: none;
    height: 120px;
}

.contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover{
    background: darkcyan;
}

section{
    justify-content: center;
    align-items: center;
}

button{
    position: relative;
    outline: none;
    background: red;
    color: #fff;
    padding:8px 35px;
    border: none;
    margin: 0 450px;
    font-size: 1em;
    border-radius: 100px;
}

.gray{
    background: rgb(236, 236, 236);
    color: #000;
}

.noti{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: green;
    color: #fff;
    transform: translate(50%,-50%);
    font-size: 16px;
}

@keyframes animate{
   0%{
       transform:scale(0);
   }
    100%{
        transform:scale(1);
    }
}

@media(max-width:768px){
    .container{
        flex-direction: column;
    }
}